* {
	font-family: 'Lora', serif;
	color: #070607;
}

body {
	background-color: #F4F3EF;
}

header {
	text-align: center;
	padding: 2rem;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	font-size: 1.1rem;
}

h1 {
	margin-top: 20px;
	text-align: center;
	font-size: 1.5rem;
}

h2 {
	text-align: center;
	color: #FFA500;
	margin-bottom: 24px;
}

h1+p {
	color: #646361;
	font-size: 1.3rem;
	letter-spacing: 0.5rem;
}

header p {
	color: #646362;
}

section {
	background-color: #FAF9F7;
	display: block;
}

hr {
	border-color: #EAE8E0;
	width: 75%;
}

.box {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	max-width: 1000px;
	border: 1px;
	border-style: solid;
	border-color: #EAE8E0;
}

.entry {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.date {
	color: #A9A9A9;
	font-size: 0.8rem;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0.2rem;
	display: block;
}

.role {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0.2rem;
}

img {
	width: 64px;
	height: 64px;
	margin-right: 24px;
	display: flex;
}


a:link, a:visited {
	color: #5C0959;
	text-decoration: none;
}

a:hover {
	color: #FF5D78;
}