* {
	font-family: 'Open Sans', sans-serif;
	color: #070607;
}

body {
	background-color: #F4F3EF;
}

header {
	text-align: center;
	padding: 2rem;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

h1 {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.5rem;
}

h2 {
	text-align: center;
	color: #EF9500;
	margin-top: 0.2rem;
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

h3 {
	font-size: 1.1rem;
}

header p, header p * {
	color: #646362;
}

h1+p {
	margin-top: 0.2rem;
	margin-bottom: 1rem;
}

p {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

section {
	background-color: #FAF9F7;
	display: block;
}

hr {
	border-color: #EAE8E0;
	width: 75%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

#aboutme {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#location {
	margin-top: 0.8rem;
	font-size: 0.8rem;
}

.icon-lg * {
	font-size: 1.8rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	color: #646361;
	text-decoration: none;
}

.icon-sm * {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	color: #646362;
}

.box {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	max-width: 1000px;
	border: 1px;
	border-style: solid;
	border-color: #EAE8E0;
}

.entry {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.date {
	color: #A9A9A9;
	font-size: 0.8rem;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0.2rem;
	display: block;
}

.role {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0.2rem;
}

img {
	width: 64px;
	height: 64px;
	margin-right: 24px;
	display: flex;
}

a, a * {
	color: #226BB0;
	text-decoration: none;
}

a:hover, a:hover * {
	color: #5CA8D9;
}