<!DOCTYPE html>
<html>
<head>
	<title>Jesse McKenna | {{page.title}}</title>
	<link rel="stylesheet" href="/assets/css/main.css">
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway" rel="stylesheet">
	<script defer src="/assets/js/fontawesome-all.js"></script>
</head>
<body>
<div id="nav-bar">
	<ul id="nav-list">
		<li><a class="nav-link" href="/index.html">HOME</a></li>
		<li><a class="nav-link" href="/resume.html">RESUME</a></li>
		<li><a class="nav-link" href="/skills.html">SKILLS</a></li>
		<li><a class="nav-link" href="/projects.html">PROJECTS</a></li>
		<li><a class="nav-link" href="/blog.html">BLOG</a></li>
	</ul>
</div>
<div id="nav-spacer"></div>

{{content}}

</body>
<!--Personal-->
<script type="text/javascript" src="/assets/js/scripts.js"></script>
</html>